<nav class="navigation navigation-menu clearfix">
    <ul>
        <li><a href="{{ path('dota2.stats.routing.listMatch') }}">Matches List</a></li>
        <li><a href="{{ path('dota2.stats.routing.listPlayer') }}">Players List</a></li>
        <li><a href="{{ path('dota2.stats.routing.admin') }}">Admin</a></li>
    </ul>
</nav>